body{
    
}
h1{
    text-align:center;
}
.gallery{
    margin: 1em 5em;
}
.gallery img{
    width: 18em;
    padding: 1em;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}    